.gameField {
  padding: 10px;
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}

.react-snowfall-flake {
  background-color: #fff;
  border-radius: 50%;
}

.timer {
  width: 100%;
}
