.footer {
    width: 100%;
    background-color: #761a1a;
    color:#FCD47D ;
    font-size: 1rem;
    padding: 0 2rem 0 2rem;
    justify-content: center;
    display: flex;
    margin-top: auto;
}

.footerContent {
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authors {
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0 3px 0 3px;
}
